<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Справочная система</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header class="header">
    <div class="logo">

    </div>
    <nav class="nav">
        <a class="link employee page" href="addEmployee.html">Сотрудники</a>
        <a class="link department" href="addDepartment.html">Отдел</a>
        <a class="link department" href="getEmployee.html">Список сотрудников</a>
        <a class="link department" href="getDepartment.html">Список отделов</a>
    </nav>
</header>
<main class="main">
    <div class="section-form">
        <select class="select" onchange="changeSelect()">
            <option value="add">Добавить сотрудника</option>
            <option value="addChief">Добавить главу отдела</option>
            <option value="delet">Удалить сотрудника</option>
            <option value="update">Изменить сотрудника</option>
            <option value="getById">Найти сотрудника по ID</option>
        </select>

        <div class="container-select">
            <form action="http://localhost:8080/api/v1/employee/" method="post" class="form active add open">
                <input type="text" name="fullName" placeholder="Ваше ФИО" class="form-control"> <br>
                <input type="text" name="department" placeholder="Ваш отдел" class="form-control"> <br>
                <input type="text" name="phoneNumber" placeholder="Ваш телефон" class="form-control"> <br>
                <input type="text" name="salary" placeholder="Зарплата" class="form-control"><br>
                <button type="submit" class="button">Добавить</button>
            </form>

            <form action="http://localhost:8080/api/v1/employee/" method="post" class="form addChief">
                <input type="text" name="fullName" placeholder="Ваше ФИО" class="form-control"> <br>
                <input type="text" name="managedDepartmentName" placeholder="Ваш отдел" class="form-control"> <br>
                <input type="text" name="phoneNumber" placeholder="Ваш телефон" class="form-control"> <br>
                <input type="text" name="salary" placeholder="Зарплата" class="form-control"><br>
                <button type="submit" class="button">Добавить</button>
            </form>

            <form action="http://localhost:8080/api/v1/employee/" method="DELETE" class="form delet"
                  data-deleteHTTP="true">
                <input type="text" name="id" placeholder="id сотрудника" class="form-control"> <br>
                <button type="submit" class="button">Удалить</button>
            </form>

            <form action="http://localhost:8080/api/v1/employee/" method="PUT" class="form update" data-putHTTP="true">
                <input type="text" name="id" placeholder="id сотрудника" class="form-control"> <br>
                <input type="text" name="fullName" placeholder="Ваше ФИО" class="form-control"> <br>
                <input type="text" name="department" placeholder="Ваш отдел" class="form-control"> <br>
                <input type="text" name="phoneNumber" placeholder="Ваш телефон" class="form-control"> <br>
                <input type="text" name="salary" placeholder="Зарплата" class="form-control"><br>
                <button type="submit" class="button">Обновить</button>
            </form>

            <form action="http://localhost:8080/api/v1/employee/" method="get" class="form getById"
                  data-getByIdHTTP="true">
                <input type="text" name="id" placeholder="id сотрудника" class="form-control"> <br>
                <button type="submit" class="button">Найти</button>
            </form>
        </div>
    </div>

    <div id="container">
    </div>
    <div class="section-answer">
        <!-- <div>
            <div id="sendMessage"></div>
        </div> -->
    </div>
</main>
<footer class="footer">

</footer>
<script src="./script.js"></script>
</body>
</html>