<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header class="header">
    <div class="logo">

    </div>
    <nav class="nav">
        <a class="link employee" href="addEmployee.html">Сотрудники</a>
        <a class="link department" href="addDepartment.html">Отдел</a>
        <a class="link department" href="getEmployee.html">Список сотрудников</a>
        <a class="link department" href="getDepartment.html">Список отделов</a>
    </nav>
</header>
<main class="main">
    <div id="container" data-searchEmpl="true">
    </div>
</main>
<script src="./scriptForSearch.js"></script>
</body>
</html>